* {
    padding: 0;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    padding: 8px;
    gap: 32px;
    margin: 50px auto;
}

.display {
    border: 1px solid grey;
    background-color: lightgrey;
    height: 20%;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 1px solid black;
    gap: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.row > div {
    border: 1px solid black;
    width: 30%;
    height: auto;
    text-align: center;
}

.number {
    background-color: lightblue;
}

.operator {
    background-color: lightgreen;
}

.clear {
    background-color: firebrick;
}