* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    width: 300px;
    height: 400px;
    background-color: rgb(100, 100, 100);
    border: 1px solid black;
    margin: 50px auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.display {
    height: 20%;
    border: 1px solid darkgray;
    background-color: lightgrey;
}

.buttons {
    background-color: lightslategray;
    border: 1px solid black;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.row > div {
    width: 30%;
    height: auto;
    border: 1px solid black;
    text-align: center;
}

.number {
    background-color: lightblue;
}

.operator {
    background-color: lightgreen;
}

.clear {
    background-color: firebrick;
    color: white;
    font-weight: bold;
}